
body{margin:0;padding:0; font-size:13px; font-family: "Times New Roman",Times, serif; color:#909090; background-color:#202020;}

a{ text-decoration:none;}

img{margin:0; padding:0; border:double;border-color:#202020; line-height:normal; vertical-align:middle;
horizontal-align:middle;}

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

p{font-color:black;}
.clear:after{content:"  "; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1 a{color:#FFFFFF; background-color:#202020;}
.row2{color:#202020; background-color:#FFFFFF;}
.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
}
.one_quarter img{
    border: solid 3px black;
    width: 50%;
    height: 50%;
    margin: 1%;
}
.one_quarter img:hover{
    margin: 2%;
    width: 80%;
    height: 80%;
}
.BaseTitle{
    text-align:center;
    display:block;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}  
.one_quarter{display:block;float:left; margin:0 30px 0 0;}
.one_quarter{width:225px;}
h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:30px; font-weight:bold;
}
#header{padding:20px 0;}
#header .hgroup{float:left; margin:0 0 20px 0;}

a:visited{color:brown;}
a:link{color:brown;}
#header nav{display:block; float:right; margin:10px 0 0 0; padding:20px 0; color:#909090; background-color:#202020;}
#header nav ul{padding:0 20px;}
#header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
#header nav li a{color:#FFFFFF; background-color:#202020;}
#header nav li a:hover{color:#FF9900; background-color:#202020;}
